/* Space out content a bit */
body, html {
  overflow: hidden;
  height: 100%;
  background-image:url('../images/p4.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
  position: relative;
  height: 100%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* jquery validation */

label.error {
  display: none !important;
} 


/* landing */

.splash {
  background-color: #ccc; /* url('http://placehold.it/730x500/#000'); */
  background-repeat: no-repeat;
  min-height: 500px;
  position: relative;
}

.overlay {
  padding: 40px;
  background-color: rgba(255,255,255,0.4);
}

.overlay h1 {
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  font-size: 100px;
  font-weight: 500;
  color: #fff;
}

.overlay p.lead {
  padding-left: 0.5em;
}

.chat-panel {
  -webkit-transform : translate(1000%,0);
  -moz-transform : translate(1000%,0);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.messages-wrapper {
  -webkit-transform : translate(-1000%,0); 
  -moz-transform : translate(-1000%,0);
  position: absolute;
  bottom: 185px;
  left: 0;
  width: 102%;
  overflow: hidden;
  padding-left: 15px;
}
